Repository BitLucid/ninjawars: changes, and which Semaphore blocks are due for each by the changed paths.
All: JS Tests, PHP test and build

.semaphore/semaphore.yml:

version: v1.0
name: Run All Parts
agent:
  machine:
    type: e1-standard-2
    os_image: ubuntu2004
blocks:
  - name: Setup
    task:
      jobs:
        - name: Install and Cache
          commands:
            - '# php version set in the prologue step'
            - '# Get the resources.php file'
            - 'make preconfig '
            - yarn install --immutable
            - make build
            - cache store
      prologue:
        commands:
          - checkout
          - cache restore
          - sem-version php 8.2.2
          - nvm install --lts
          - sem-version node --lts
          - corepack enable
          - ./composer.phar config -g github-oauth.github.com $GITHUB_ACCESS_TOKEN
      secrets:
        - name: Tchalvak Github Ratelimit Avoidance Token Readonly
    dependencies: []
  - name: JS Tests
    task:
      jobs:
        - name: test after build
          commands:
            - '# Setup steps in the prologue'
            - yarn test
      prologue:
        commands:
          - checkout
          - cache restore
          - sem-version php 8.2.2
          - nvm install --lts
          - sem-version node --lts
          - corepack enable
          - yarn install --immutable
          - make js-deps
          - make build
      secrets:
        - name: Tchalvak Github Ratelimit Avoidance Token Readonly
    dependencies:
      - Setup
    run:
      when: change_in('/deploy/www/js/')
  - name: PHP test and build
    dependencies:
      - Setup
    task:
      secrets:
        - name: Tchalvak AWS
        - name: Tchalvak Github Ratelimit Avoidance Token Readonly
        - name: Tchalvak Github Token
      env_vars:
        - name: AWS_PROFILE
          value: tchalvak
      jobs:
        - name: PHP unit-tests
          commands:
            - echo "install happens in the prologue step"
            - php --version
            - make build
            - ./composer.phar unit-test
      prologue:
        commands:
          - checkout
          - cache restore
          - cp -upn ./deploy/resources.build.php ./deploy/resources.php
          - sem-version php 8.2.2
          - ./composer.phar install --prefer-dist --no-interaction
    run:
      when: change_in('/deploy')

Seeded random library and ninjamaster clans.
  deploy/lib/control/ApiController.php
  deploy/templates/epics.tpl
  deploy/templates/ninjamaster.css.tpl
  deploy/templates/ninjamaster.tpl
  deploy/www/js/ninjamaster.js
  deploy/www/js/seededRandom.js
  deploy/www/js/utils.js
Due: JS Tests, PHP test and build

Add the clans template.
  deploy/templates/ninjamaster.clans.tpl
Due: PHP test and build

Variant clan template changes.
  deploy/templates/ninjamaster.css.tpl
  deploy/www/js/ninjamaster.js
  deploy/www/js/seededRandom.js
Due: JS Tests, PHP test and build

Update intro.tpl
  deploy/templates/intro.tpl
Due: PHP test and build

Lockfile updates.
  package.json
  yarn.lock
Due: none

Lint format karma file.
  deploy/tests/karma.conf.js
Due: PHP test and build

seededRandom updates.
  deploy/templates/epics.tpl
  deploy/www/js/ninjamaster.js
  deploy/www/js/seededRandom.js
Due: JS Tests, PHP test and build

Stabilize seeding.
  deploy/www/js/seededRandom.js
Due: JS Tests, PHP test and build

Cleanup seed === null logic.
  deploy/www/js/seededRandom.js
Due: JS Tests, PHP test and build

Exclude ninjamaster and apispecs temporarily.
  deploy/tests/karma.conf.js
Due: PHP test and build

Add stock item column attr.
  deploy/lib/data/Shop.php
  deploy/sql/migrations/2024-03-11-modify-item-add-stock-columns.sql
Due: PHP test and build

Add various traits to items.
  deploy/sql/migrations/2024-03-11-modify-item-traits-food-etc.sql
Due: PHP test and build

Decrease chat.js debug verbosity.
  deploy/www/js/chat.js
Due: JS Tests, PHP test and build

Test api.js runs.
  deploy/tests/js/ApiSpec.js
Due: PHP test and build

Ninjamaster annotations,
  deploy/lib/control/NinjamasterController.php
  deploy/templates/ninjamaster.clans.tpl
  deploy/templates/ninjamaster.css.tpl
  deploy/templates/ninjamaster.items.tpl
  deploy/templates/ninjamaster.tpl
  deploy/tests/js/NinjamasterSpec.js
  deploy/www/js/ninjamaster.js
Due: JS Tests, PHP test and build

Redact some emails, add some health check links.
  deploy/lib/control/NinjamasterController.php
  deploy/lib/data/Account.php
  deploy/lib/data/AdminViews.php
  deploy/lib/data/Player.php
  deploy/templates/ninjamaster.tpl
Due: PHP test and build

Add link to health notices.
  deploy/templates/ninjamaster.tpl
Due: PHP test and build

Simplify the player redaction.
  deploy/lib/data/Player.php
  deploy/templates/ninjamaster.tpl
Due: PHP test and build

LoginSpec created, and login framebreak cleanup.
  deploy/templates/footer.tpl
  deploy/templates/ninjamaster.tpl
  deploy/tests/js/LoginSpec.js
  deploy/www/js/chat.js
  deploy/www/js/disagreement.js
  deploy/www/js/fight.js
  deploy/www/js/login.js
  deploy/www/js/nw.js
  deploy/www/js/talk.js
  test-main.js
Due: JS Tests, PHP test and build

Remove empty domready in login.js.
  deploy/www/js/login.js
Due: JS Tests, PHP test and build

Change intro spacing
  deploy/templates/intro.tpl
Due: PHP test and build

Minor clarification to resources.build.php
  deploy/resources.build.php
Due: PHP test and build

Remove unused imports in considerController.
  deploy/lib/control/ConsiderController.php
Due: PHP test and build

Work in progress on mailing out communications.
  deploy/lib/control/EventsController.php
  deploy/lib/data/Api.php
  deploy/lib/data/Communication.php
  deploy/lib/environment/global_error_handling.php
  deploy/lib/extensions/NWTemplate.php
  deploy/templates/email.messages.tpl
  deploy/templates/messages.tpl
  deploy/templates/simple_template.tpl
  deploy/www/js/api.js
  deploy/www/js/talk.js
Due: JS Tests, PHP test and build

Continued work on the communication behavior.
  deploy/lib/data/Communication.php
  deploy/www/js/talk.js
Due: JS Tests, PHP test and build

Better layout for anonymized events.
  deploy/templates/event.single.tpl
Due: PHP test and build

Poll for unread messages.
  deploy/lib/control/ApiController.php
  deploy/lib/control/EpicsController.php
  deploy/lib/control/HomepageController.php
  deploy/lib/data/Communication.php
  deploy/templates/epics.tpl
  deploy/www/js/homepage.js
Due: JS Tests, PHP test and build

Delete questTest.
  deploy/tests/integration/QuestTest.php
Due: PHP test and build

Remove NW event/message updates.
  deploy/www/js/nw.js
Due: JS Tests, PHP test and build

Reduce login page font size.
  deploy/www/css/style.css
Due: PHP test and build

Communication class to replace Message.
  deploy/lib/data/Communication.php
  deploy/lib/data/Message.php
  deploy/tests/integration/model/CommunicationTest.php
  deploy/tests/integration/model/MessageTest.php
Due: PHP test and build

Disambiguate #target redundancy.
  deploy/templates/enemies.attack-next.tpl
  deploy/templates/player.tpl
Due: PHP test and build

All work on communication methods.
  deploy/lib/control/ChatController.php
  deploy/lib/control/EpicsController.php
  deploy/lib/control/MessagesController.php
  deploy/lib/data/Api.php
  deploy/lib/data/Deity.php
  deploy/lib/events/PutEventTest.php
  deploy/templates/email.messages.tpl
  deploy/templates/epics.tpl
  deploy/templates/index.tpl
  deploy/templates/message.single.tpl
  deploy/templates/messages.tpl
  deploy/tests/integration/AccountConfTest.php
  deploy/tests/integration/controller/ApiControllerTest.php
  deploy/tests/js/NwSpec.js
  deploy/www/js/api.js
  deploy/www/js/seededRandom.js
  deploy/www/js/talk.js
Due: JS Tests, PHP test and build

Add the UnauthorizedException for api work.
  deploy/lib/UnauthorizedException.php
Due: PHP test and build

Some minor trailing static analysis cleanup.
  deploy/lib/data/Api.php
  deploy/lib/environment/global_error_handling.php
  deploy/tests/integration/model/CommunicationTest.php
Due: PHP test and build

Exclude Talk and TalkSpec for now.
  deploy/templates/email.messages.tpl
  deploy/tests/karma.conf.js
  deploy/www/js/talk.js
  package.json
Due: JS Tests, PHP test and build

Fade in login error.
  deploy/templates/login.tpl
Due: PHP test and build
