Repository BitLucid/ninjawars: changes, and which Semaphore blocks are due for each by the changed paths.
All: JS Tests, PHP test and build

.semaphore/semaphore.yml:

version: v1.0
name: Run All Parts
agent:
  machine:
    type: e1-standard-2
    os_image: ubuntu2004
blocks:
  - name: Setup
    task:
      jobs:
        - name: Install and Cache
          commands:
            - '# php version set in the prologue step'
            - '# Get the resources.php file'
            - 'make preconfig '
            - yarn install --immutable
            - make build
            - cache store
      prologue:
        commands:
          - checkout
          - cache restore
          - sem-version php 8.2.2
          - nvm install --lts
          - sem-version node --lts
          - corepack enable
          - ./composer.phar config -g github-oauth.github.com $GITHUB_ACCESS_TOKEN
      secrets:
        - name: Tchalvak Github Ratelimit Avoidance Token Readonly
    dependencies: []
  - name: JS Tests
    task:
      jobs:
        - name: test after build
          commands:
            - '# Setup steps in the prologue'
            - yarn test
      prologue:
        commands:
          - checkout
          - cache restore
          - sem-version php 8.2.2
          - nvm install --lts
          - sem-version node --lts
          - corepack enable
          - yarn install --immutable
          - make js-deps
          - make build
      secrets:
        - name: Tchalvak Github Ratelimit Avoidance Token Readonly
    dependencies:
      - Setup
    run:
      when: change_in('/deploy/www/js/')
  - name: PHP test and build
    dependencies:
      - Setup
    task:
      secrets:
        - name: Tchalvak AWS
        - name: Tchalvak Github Ratelimit Avoidance Token Readonly
        - name: Tchalvak Github Token
      env_vars:
        - name: AWS_PROFILE
          value: tchalvak
      jobs:
        - name: PHP unit-tests
          commands:
            - echo "install happens in the prologue step"
            - php --version
            - make build
            - ./composer.phar unit-test
      prologue:
        commands:
          - checkout
          - cache restore
          - cp -upn ./deploy/resources.build.php ./deploy/resources.php
          - sem-version php 8.2.2
          - ./composer.phar install --prefer-dist --no-interaction
    run:
      when: change_in('/deploy')

Partial recaptcha signup changes.
  cypress/e2e/signup.cy.js
  deploy/templates/signup.tpl
  deploy/www/js/signup.js
Due: JS Tests, PHP test and build

Recaptcha signup prep.
  .github/CODEOWNERS
  configure
  deploy/conf/nw.local.nginx
  deploy/resources.build.php
  deploy/resources.template.php
  deploy/templates/signup.tpl
  deploy/www/css/style.css
  phpunit.xml
Due: PHP test and build

Remove seldom-used resources.template.php
  deploy/resources.template.php
Due: PHP test and build

Recaptcha WIP, not fully working.
  README.markdown
  composer.json
  composer.lock
  configure
  deploy/lib/control/SignupController.php
  deploy/resources.build.php
  deploy/templates/login.tpl
  deploy/templates/signup.tpl
  deploy/www/js/signup.js
Due: JS Tests, PHP test and build

Basic recaptcha protection in place.
  deploy/lib/control/SignupController.php
  deploy/templates/login.tpl
  deploy/templates/signup.tpl
Due: PHP test and build

Remove extra comment line.
  deploy/templates/signup.tpl
Due: PHP test and build

completed v3.
  Makefile
  cypress/e2e/signup.cy.js
  deploy/conf/nw.local.nginx
  deploy/lib/control/SignupController.php
  deploy/templates/signup.success.tpl
  deploy/templates/signup.tpl
  scripts/travis/full_install
  scripts/travis/integration_install
  scripts/travis/test
Due: PHP test and build

Subtlize the recaptcha.
  composer.lock
  deploy/templates/login.tpl
  deploy/templates/signup.tpl
  deploy/templates/splash.tpl
  deploy/templates/staff.tpl
  deploy/www/css/splash.css
  deploy/www/css/style.css
  deploy/www/js/signup.js
Due: JS Tests, PHP test and build

Remove revive bowl sound for now.
  deploy/templates/player.tpl
  deploy/templates/shrine.result-resurrect.tpl
Due: PHP test and build

Update aws sdk.
  composer.lock
Due: none

yarn updates.
  .yarn/cache/@eslint-js-npm-8.55.0-ec5eb0638e-34b001a95b.zip
  .yarn/cache/@eslint-js-npm-8.56.0-b1de08cbff-97a4b5ccf7.zip
  .yarn/cache/@types-eslint-npm-8.44.8-54a444f190-d6e0788eb7.zip
  .yarn/cache/@types-eslint-npm-8.56.1-4da9d680e6-985fd0293e.zip
  .yarn/cache/cypress-npm-13.6.1-e174d3bcce-22e3431faf.zip
  .yarn/cache/cypress-npm-13.6.2-79f9061108-b6b27f94d9.zip
  .yarn/cache/eslint-npm-8.55.0-7e84babe85-afd016cfbe.zip
  .yarn/cache/eslint-npm-8.56.0-6eec398a41-ef6193c6e4.zip
  .yarn/cache/eslint-plugin-import-npm-2.29.0-9cd6da0b0a-d6e8d016f3.zip
  .yarn/cache/eslint-plugin-import-npm-2.29.1-b94305f7dc-5865f05c38.zip
  .yarn/cache/puppeteer-core-npm-21.6.0-a0acf23f8f-4ea348b2ad.zip
  .yarn/cache/puppeteer-core-npm-21.6.1-6600eb7f9b-a3293c3b97.zip
  .yarn/cache/puppeteer-npm-21.6.0-c7d782f580-2b4075bff9.zip
  .yarn/cache/puppeteer-npm-21.6.1-063bac5c3a-ea9490a79d.zip
  .yarn/cache/tsconfig-paths-npm-3.14.2-90ce75420d-17f23e9861.zip
  .yarn/cache/tsconfig-paths-npm-3.15.0-ff68930e0e-2041beaedc.zip
  .yarn/cache/ws-npm-8.14.2-b339ac47a2-815ff01d9b.zip
  .yarn/cache/ws-npm-8.15.1-a30b5eeb2f-746a3102d4.zip
  package.json
  yarn.lock
Due: none

Images for signup styles for the 4 ninja types.
  deploy/templates/shrine.result-resurrect.tpl
  deploy/templates/signup.tpl
  deploy/www/images/characters/crane_ninja.jpg
  deploy/www/images/characters/dragon_ninja.jpg
  deploy/www/images/characters/tiger_ninja.jpg
  deploy/www/images/characters/viper_ninja.jpg
Due: PHP test and build

Move to the jagged identicon icons
  deploy/lib/data/Player.php
  deploy/www/files/sound_effects/266947__ulfhubert__tiny-ping.wav
Due: PHP test and build

Cleanup signup ninja class code a bit.
  deploy/lib/control/SignupController.php
  deploy/resources.build.php
  deploy/templates/signup.tpl
Due: PHP test and build

Better epic for signup, oni,
  deploy/conf/nw.local.nginx
  deploy/lib/control/EpicsController.php
  deploy/npc-list.php
  deploy/templates/epics.tpl
  deploy/templates/npc.oni.tpl
  deploy/templates/shrine.result-resurrect.tpl
  deploy/templates/signup.tpl
  deploy/templates/work.tpl
  deploy/www/files/sound_effects/412424__dblover__rain-on-sound.mp3
  deploy/www/images/characters/attacking_wandering_oni.jpg
  deploy/www/images/characters/fireflies.jpg
  deploy/www/images/characters/fireflies.png
  deploy/www/images/characters/firefly.jpg
  deploy/www/images/characters/firefly.png
  deploy/www/images/characters/spider_icon.png
  deploy/www/images/svg/smile_avatar.svg
Due: PHP test and build

Npcs cleanup and consolidation.
  deploy/lib/control/NpcController.php
  deploy/templates/epics.tpl
  deploy/templates/npc.abstract.tpl
  deploy/templates/npc.oni.tpl
  deploy/templates/npc.thief-group.tpl
  deploy/www/css/npcs.css
  deploy/www/images/characters/tengu_theives_group.jpg
Due: PHP test and build

Fix html/css .money unclosed tag.
  deploy/templates/epics.tpl
  deploy/templates/npc.abstract.tpl
  deploy/www/css/npcs.css
Due: PHP test and build

Removed old amazon ad.
  deploy/conf/nw.local.nginx
  deploy/lib/control/EpicsController.php
  deploy/templates/epics.tpl
  deploy/templates/work.tpl
Due: PHP test and build

Add images for npcs.
  deploy/npc-list.php
  deploy/www/images/characters/geisha.jpg
  deploy/www/images/characters/monk.jpg
Due: PHP test and build

Npc updates, hitodama, fight.js reconfigured.
  deploy/lib/control/NpcController.php
  deploy/npc-list.php
  deploy/templates/fight.tpl
  deploy/www/images/characters/hitodama.jpg
  deploy/www/js/fight.js
  deploy/www/js/nw.js
  deploy/www/js/utils.js
Due: JS Tests, PHP test and build

Cleanup of npc display area.
  deploy/npc-list.php
  deploy/templates/ninjamaster.css.tpl
  deploy/templates/ninjamaster.tpl
Due: PHP test and build

Improve ninjamaster readability to...
  deploy/templates/ninjamaster.css.tpl
  deploy/templates/ninjamaster.tpl
Due: PHP test and build

Reflect server nginx config.
  deploy/conf/zz-ninjawars-net.nginx
Due: PHP test and build

Style changes for errors, notices, profile area cleanup.
  deploy/lib/control/InventoryController.php
  deploy/npc-list.php
  deploy/templates/account.tpl
  deploy/templates/attack_mod.tpl
  deploy/templates/enemies.attack-next.tpl
  deploy/templates/error.dead.tpl
  deploy/templates/inventory_mod.tpl
  deploy/templates/player.tpl
  deploy/templates/skills_mod.tpl
  deploy/templates/stats.tpl
  deploy/www/css/style.css
  deploy/www/js/nw.js
Due: JS Tests, PHP test and build

More expansive fight profile area.
  deploy/templates/enemies.attack-next.tpl
  deploy/templates/gravatar.tpl
  deploy/www/js/chat.js
Due: JS Tests, PHP test and build

Npc image changes and resurrect sound and image.
  deploy/templates/epics.tpl
  deploy/templates/shrine.result-resurrect.tpl
  deploy/www/files/sound_effects/543649__legnalegna55__water-droplets.mp3
  deploy/www/images/characters/chicken.jpg
  deploy/www/images/characters/koi.jpg
  deploy/www/images/characters/koi.o.jpg
  package.json
Due: PHP test and build

More minor ui fixes.
  deploy/templates/health_bar.tpl
  deploy/templates/shrine.entrance.tpl
  deploy/templates/shrine.result-heal.tpl
  deploy/templates/signup.tpl
  deploy/www/css/style.css
Due: PHP test and build

Allow fontawesome in ssl config.
  deploy/conf/nw.local.nginx
Due: PHP test and build

Add Sword svg template.
  deploy/templates/sword.svg.tpl
Due: PHP test and build

Drop the lower border on player page.
  deploy/templates/player.tpl
Due: PHP test and build

Add ninjamaster clan section...
  deploy/lib/control/ApiController.php
  deploy/lib/data/Api.php
  deploy/templates/clan.list.tpl
  deploy/templates/ninja.menu.tpl
  deploy/templates/ninjamaster.tpl
  deploy/tests/integration/controller/ApiControllerTest.php
  deploy/www/css/style.css
  deploy/www/images/ninjamaster/original-shuriken-favicon.svg
  deploy/www/images/ninjamaster/shuriken-favicon.png
  deploy/www/images/ninjamaster/shuriken-favicon.svg
  deploy/www/js/api.js
  deploy/www/js/ninjamaster.js
Due: JS Tests, PHP test and build

Additional clan list changes.
  deploy/www/js/ninjamaster.js
Due: JS Tests, PHP test and build

Reup GA analytics tag.
  deploy/templates/footer.tpl
Due: PHP test and build

Update nodes.php
  deploy/lib/data/raw/nodes.php
Due: PHP test and build

Additional ui epics and clan comp.
  deploy/lib/control/EpicsController.php
  deploy/templates/epics.tpl
  deploy/templates/footer.tpl
  deploy/templates/logout.tpl
  deploy/templates/news.tpl
  deploy/templates/ninja.menu.tpl
  deploy/templates/ninjamaster.tpl
  deploy/templates/signup.tpl
  deploy/www/css/epics.css
  deploy/www/css/style.css
  deploy/www/js/epics.js
  deploy/www/js/ninjamaster.js
Due: JS Tests, PHP test and build

Clan and staff page visuals,
  deploy/templates/clan.list.tpl
  deploy/templates/epics.tpl
  deploy/templates/staff.tpl
  deploy/www/css/style.css
Due: PHP test and build

Fix a typehinting mismatch in signupController.
  cypress/e2e/signup.cy.js
  deploy/lib/control/SignupController.php
Due: PHP test and build

Add the various new visual images.
  deploy/www/images/nodes/grassy-meadow.jpg
  deploy/www/images/scenes/clanhalls.jpg
  deploy/www/images/scenes/clanhalls.original.jpg
  deploy/www/images/team/staff-scribes.jpg
  deploy/www/images/team/tchalvak.jpg
Due: PHP test and build

Make semaphore install immutable-cache.
  .semaphore/semaphore.yml
Due: none
