Repository BitLucid/ninjawars: changes, and which Semaphore blocks are due for each by the changed paths.
All: JS Tests, PHP test and build

.semaphore/semaphore.yml:

version: v1.0
name: Run All Parts
agent:
  machine:
    type: e1-standard-2
    os_image: ubuntu2004
blocks:
  - name: Setup
    task:
      jobs:
        - name: Install and Cache
          commands:
            - '# php version set in the prologue step'
            - '# Get the resources.php file'
            - 'make preconfig '
            - yarn install --immutable
            - make build
            - cache store
      prologue:
        commands:
          - checkout
          - cache restore
          - sem-version php 8.2.2
          - nvm install --lts
          - sem-version node --lts
          - corepack enable
          - ./composer.phar config -g github-oauth.github.com $GITHUB_ACCESS_TOKEN
      secrets:
        - name: Tchalvak Github Ratelimit Avoidance Token Readonly
    dependencies: []
  - name: JS Tests
    task:
      jobs:
        - name: test after build
          commands:
            - '# Setup steps in the prologue'
            - yarn test
      prologue:
        commands:
          - checkout
          - cache restore
          - sem-version php 8.2.2
          - nvm install --lts
          - sem-version node --lts
          - corepack enable
          - yarn install --immutable
          - make js-deps
          - make build
      secrets:
        - name: Tchalvak Github Ratelimit Avoidance Token Readonly
    dependencies:
      - Setup
    run:
      when: change_in('/deploy/www/js/')
  - name: PHP test and build
    dependencies:
      - Setup
    task:
      secrets:
        - name: Tchalvak AWS
        - name: Tchalvak Github Ratelimit Avoidance Token Readonly
        - name: Tchalvak Github Token
      env_vars:
        - name: AWS_PROFILE
          value: tchalvak
      jobs:
        - name: PHP unit-tests
          commands:
            - echo "install happens in the prologue step"
            - php --version
            - make build
            - ./composer.phar unit-test
      prologue:
        commands:
          - checkout
          - cache restore
          - cp -upn ./deploy/resources.build.php ./deploy/resources.php
          - sem-version php 8.2.2
          - ./composer.phar install --prefer-dist --no-interaction
    run:
      when: change_in('/deploy')

Update gitignore for yarn, and version everywhere.
  .gitignore
  deploy/lib/control/HomepageController.php
  package.json
Due: PHP test and build

Bump jQuery cdn version to the latest,
  deploy/templates/header.tpl
Due: PHP test and build

Provide filter to simple polyfill
  deploy/lib/Filter.php
Due: PHP test and build

Add special AllowDynamicProperties on DAO base class.
  deploy/lib/data/DataAccessObject.php
Due: PHP test and build

Update robots.txt
  deploy/www/robots.txt
Due: PHP test and build

Update deployment_email.php
  deploy/deployed_scripts/deployment_email.php
Due: PHP test and build

Update password reset email subject.
  deploy/lib/control/PasswordController.php
Due: PHP test and build

Update Coco in staff.tpl
  deploy/templates/staff.tpl
Due: PHP test and build

Update footer.linkbar.tpl
  deploy/templates/footer.linkbar.tpl
Due: PHP test and build

Update staff.tpl
  deploy/templates/staff.tpl
Due: PHP test and build

Update AdminViews.php
  deploy/lib/data/AdminViews.php
Due: PHP test and build

Add 502 gateway error page.
  deploy/www/502-error.html
Due: PHP test and build

NM login attempts section for monitoring.
  deploy/lib/control/ApiController.php
  deploy/lib/data/AdminViews.php
  deploy/lib/data/Api.php
  deploy/sql/migrations/2024-03-11-modify-item-add-stock-columns.sql
  deploy/templates/ninjamaster.tpl
  deploy/www/js/api.js
  deploy/www/js/ninjamaster.js
Due: JS Tests, PHP test and build

Database installation command documentations.
  Makefile
Due: none

Better deactivation confirmation checking,
  deploy/www/js/ninjamaster.js
Due: JS Tests, PHP test and build

Work on recaptca error.
  deploy/lib/control/SignupController.php
Due: PHP test and build

Yarn package updates.
  .yarn/cache/@eslint-eslintrc-npm-2.1.4-1ff4b5f908-7a3b14f4b4.zip
  .yarn/cache/@eslint-eslintrc-npm-3.0.2-1fbcfb08c5-04e3d7de2b.zip
  .yarn/cache/@eslint-js-npm-8.57.1-dec269f278-7562b21be1.zip
  .yarn/cache/@eslint-js-npm-9.2.0-6c74f11ab5-4e9fec5395.zip
  .yarn/cache/@humanwhocodes-retry-npm-0.2.4-205f457f4d-14f2f797d8.zip
  .yarn/cache/@ungap-structured-clone-npm-1.2.0-648f0b82e0-c6fe89a505.zip
  .yarn/cache/acorn-npm-8.11.3-0d7ab48b38-b688e7e3c6.zip
  .yarn/cache/acorn-npm-8.12.1-610871d57c-d08c2d122b.zip
  .yarn/cache/doctrine-npm-3.0.0-c6f1615f04-b4b28f1df5.zip
  .yarn/cache/eslint-npm-8.57.1-dd20287a5a-5504fa2487.zip
  .yarn/cache/eslint-npm-9.2.0-4f55ce9b8d-691626f7e6.zip
  .yarn/cache/eslint-scope-npm-7.2.2-53cb0df8e8-5c660fb905.zip
  .yarn/cache/eslint-scope-npm-8.0.1-20a4626de0-458513863d.zip
  .yarn/cache/eslint-visitor-keys-npm-3.4.3-a356ac7e46-3f357c554a.zip
  .yarn/cache/eslint-visitor-keys-npm-4.0.0-9098eefd77-c7617166e6.zip
  .yarn/cache/espree-npm-10.0.1-1d04a36678-557d6cfb48.zip
  .yarn/cache/espree-npm-9.6.1-a50722a5a9-255ab260f0.zip
  .yarn/cache/file-entry-cache-npm-6.0.1-31965cf0af-099bb9d4ab.zip
  .yarn/cache/file-entry-cache-npm-8.0.0-5b09d19a83-afe55c4de4.zip
  .yarn/cache/flat-cache-npm-3.2.0-9a887f084e-02381c6ece.zip
  .yarn/cache/flat-cache-npm-4.0.1-12bf2455f7-58ce851d90.zip
  .yarn/cache/globals-npm-13.24.0-cc7713139c-62c5b1997d.zip
  .yarn/cache/globals-npm-14.0.0-5fc3d8d5da-03939c8af9.zip
  .yarn/cache/graphemer-npm-1.4.0-0627732d35-6dd60dba97.zip
  .yarn/cache/type-fest-npm-0.20.2-b36432617f-8907e16284.zip
Due: none

Packages and composer updates.
  composer.lock
  package.json
  yarn.lock
Due: none

Update weird improper formatting of Deity.php formatting
  deploy/lib/data/Deity.php
Due: PHP test and build

Revert "chore(deps): update node.js to v20.18.2"
  .nvmrc
Due: none

Update typo in shop.index.tpl
  deploy/templates/shop.index.tpl
Due: PHP test and build

Update global_error_handling.php
  deploy/lib/environment/global_error_handling.php
Due: PHP test and build

Add/rename deep forest map node
  deploy/lib/data/raw/nodes.php
Due: PHP test and build

Update node ids
  deploy/lib/data/raw/nodes.php
Due: PHP test and build

Add skull emoji to you are dead error message.
  deploy/lib/control/AttackLegal.php
Due: PHP test and build

Update dev to php 8.3.
  Makefile
Due: none

Update Makefile
  Makefile
Due: none

Bump local dev to php8.3-fpm.
  deploy/conf/nw.local.nginx
Due: PHP test and build

Add stealth_removing trait.
  deploy/lib/control/NpcController.php
Due: PHP test and build

Prototype samurai npc, template hooks for cm.
  deploy/npc-list.php
  deploy/templates/npc.abstract.tpl
Due: PHP test and build

Increase health bar size minimum for fight page
  deploy/www/css/style.css
Due: PHP test and build

Update Semaphore configuration
  .semaphore/semaphore.yml
Due: none

Allow jQuery to always fallback if needed.
  deploy/templates/header.tpl
Due: PHP test and build

update loss message to differentiate between aggressor or not
  deploy/lib/control/AttackController.php
Due: PHP test and build
