Repository BitLucid/ninjawars: changes, and which Semaphore blocks are due for each by the changed paths.
All: JS Tests, PHP test and build

.semaphore/semaphore.yml:

version: v1.0
name: Initial Pipeline
agent:
  machine:
    type: e1-standard-2
    os_image: ubuntu2004
blocks:
  - name: Setup
    task:
      jobs:
        - name: Install and Cache
          commands:
            - '# php version set in the prologue step'
            - checkout
            - '# Get the resources.php file'
            - 'make preconfig '
            - cache restore
            - yarn install --immutable
            - cache store
            - make build
      prologue:
        commands:
          - sem-version php 8.0
      secrets:
        - name: Tchalvak Github Ratelimit Avoidance Token Readonly
    dependencies: []
  - name: JS Tests
    task:
      jobs:
        - name: test and build
          commands:
            - '# Setup steps in the prologue'
            - yarn test
      prologue:
        commands:
          - checkout
          - cache restore
          - nvm install --lts
          - sem-version node --lts
          - corepack enable
          - yarn install --immutable
          - make js-deps
          - make build
          - cache store
      secrets:
        - name: Tchalvak Github Ratelimit Avoidance Token Readonly
    dependencies:
      - Setup
    run:
      when: change_in('/deploy/www/js/')
  - name: PHP test and build
    dependencies:
      - Setup
    task:
      secrets:
        - name: Tchalvak AWS
        - name: Tchalvak Github Ratelimit Avoidance Token Readonly
        - name: Tchalvak Github Token
      env_vars:
        - name: AWS_PROFILE
          value: tchalvak
      jobs:
        - name: PHP unit-tests
          commands:
            - echo "install happens in the prologue step"
            - php --version
            - make build
            - ./composer.phar unit-test
      prologue:
        commands:
          - checkout
          - cp -upn ./deploy/resources.build.php ./deploy/resources.php
          - sem-version php 8.2.2
          - cache restore
          - ./composer.phar config -g github-oauth.github.com $GITHUB_ACCESS_TOKEN
          - ./composer.phar install --prefer-dist --no-interaction
          - cache store
    run:
      when: change_in('/deploy')

Update Semaphore configuration
  .semaphore/semaphore.yml
Due: none

Update Makefile CI-pre-compile for semaphore
  Makefile
Due: none

Update Makefile
  Makefile
Due: none

Update php.yml to move it to php 8.2
  .github/workflows/php.yml
Due: none

Update semaphore.yml to cache restore first
  .semaphore/semaphore.yml
Due: none

Reorder Semaphore configuration cache
  .semaphore/semaphore.yml
Due: none

pin the ubuntu version in action workflow
  .github/workflows/php.yml
Due: none

Add new pixel tiles.
  deploy/www/images/nodes/bath-house.png
  deploy/www/images/nodes/casino-with-text.png
  deploy/www/images/nodes/casino.png
  deploy/www/images/nodes/dojo.png
  deploy/www/images/scenes/island_temple.jpg
  deploy/www/images/scenes/lantern_temple.jpg
Due: PHP test and build

Work in progress on retiling of map.
  deploy/www/css/map.css
Due: PHP test and build

Add a few more tiles.
  deploy/www/css/map.css
Due: PHP test and build

Composer self-update.
  composer.phar
Due: none

Add various new and in-progress map tiles.
  deploy/www/css/map.css
  deploy/www/images/nodes/doshin.png
  deploy/www/images/nodes/east-west-road.png
  deploy/www/images/nodes/forest-green-bg.png
  deploy/www/images/nodes/forest.png
  deploy/www/images/nodes/north-south-road.png
  deploy/www/images/nodes/rice-field.png
  deploy/www/images/nodes/village-square.png
  deploy/www/images/nodes/wheat-field.png
Due: PHP test and build

Add shop and forest tiles.
  deploy/www/images/nodes/forest.png
  deploy/www/images/nodes/shop.png
Due: PHP test and build

Add dirt and grass terrain tiles.
  deploy/www/images/nodes/dirt.png
  deploy/www/images/nodes/grass.png
Due: PHP test and build

Additional finalized tiles.
  deploy/www/images/nodes/casino-with-text.png
  deploy/www/images/nodes/casino.png
  deploy/www/images/nodes/dojo.png
  deploy/www/images/nodes/forest.png
  deploy/www/images/nodes/shop.png
Due: PHP test and build

Additional node changes.
  deploy/www/css/map.css
Due: PHP test and build

Map css update.
  deploy/www/css/map.css
Due: PHP test and build

Upgrade smarty for compat reasons.
  composer.lock
Due: none

Add new tiles.
  deploy/www/images/nodes/bath-house.png
  deploy/www/images/nodes/casino.png
  deploy/www/images/nodes/dojo.png
  deploy/www/images/nodes/shrine_short.png
  deploy/www/images/nodes/shrine_tall.png
Due: PHP test and build

Additional composer updates.
  composer.lock
Due: none

Deprecation warning fixes and composer update
  composer.lock
  deploy/conf/nw.local.nginx
  deploy/lib/data/Account.php
  deploy/lib/data/DataAccessObject.php
  deploy/lib/data/ValueObject.php
Due: PHP test and build

Test fix updates.
  deploy/lib/data/Account.php
  deploy/lib/data/DataAccessObject.php
  deploy/lib/data/ValueObject.php
  deploy/tests/integration/CharacterTest.php
Due: PHP test and build

Composer update illuminate and fix avatarUrl test.
  .github/workflows/php.yml
  composer.json
  composer.lock
Due: none

More composter illuminate updates.
  composer.json
  composer.lock
Due: none

Upgrade jasmine-core.
  .yarn/cache/jasmine-core-npm-4.4.0-062af82af3-b52e2f1708.zip
  .yarn/cache/jasmine-core-npm-4.5.0-b9b1f86654-e7adda527d.zip
  .yarn/versions/3ccfaeac.yml
  package.json
  yarn.lock
Due: none

Update composer deps.
  composer.lock
Due: none

Remove references to codeship.
  Makefile
  README.markdown
Due: none

Also do a basic check of the non-phpunit tests.
  .github/workflows/php.yml
  Makefile
  composer.json
  vendor
Due: none

Update structuring.
  .github/workflows/php.yml
Due: none

Provide github access token.
  .github/workflows/php.yml
  Makefile
  configure
Due: none

Workflow changes
  .github/workflows/php.yml
Due: none

workflow tweaks.
  .github/workflows/php.yml
  Makefile
Due: none

Workflow updates.
  .github/workflows/php.yml
  deploy/templates/index.tpl
Due: PHP test and build

Fix bad no-entry placeholder nesting problem.
  composer.json
Due: none

Minor makefile change. [skip-ci]
  Makefile
Due: none

Debugging the live serverless chatapi.
  deploy/www/js/chat.js
Due: JS Tests, PHP test and build
