Repository BitLucid/ninjawars: changes, and which Semaphore blocks are due for each by the changed paths.
All: JS Tests, PHP test and build

JS Tests:
  jobs:
  - name: test after build
    commands:
    - '# Setup steps in the prologue'
    - yarn test
  prologue:
    commands:
    - checkout
    - cache restore
    - sem-version php 8.2.2
    - nvm install --lts
    - sem-version node --lts
    - corepack enable
    - yarn install --immutable
    - make js-deps
  ...

PHP test and build:
  secrets:
  - name: Tchalvak AWS
  - name: Tchalvak Github Ratelimit Avoidance Token Readonly
  - name: Tchalvak Github Token
  env_vars:
  - name: AWS_PROFILE
    value: tchalvak
  jobs:
  - name: PHP unit-tests
    commands:
    - echo "install happens in the prologue step"
    - php --version
    - make build
  ...

Comment the empty function noops.
  deploy/www/js/homepage.js
Due: JS Tests, PHP test and build

Improve legend visibility.
  deploy/www/css/style.css
Due: PHP test and build

Clan edit 403,
  deploy/lib/control/ClanController.php
  deploy/templates/403.tpl
  deploy/www/images/characters/pixel_ninja_nope.jpg
Due: PHP test and build

Fix login mobile layout.
  deploy/templates/login.tpl
Due: PHP test and build

Browser validation fixes.
  deploy/templates/footer.tpl
  deploy/templates/header.tpl
  deploy/templates/login.tpl
  deploy/templates/nodes.tpl
  deploy/www/js/login.js
  deploy/www/js/nw.js
Due: JS Tests, PHP test and build

Prevent clan join exception,
  Makefile
  deploy/lib/control/ClanController.php
  deploy/lib/control/DoshinController.php
  deploy/lib/control/ShopController.php
  deploy/templates/clan.reminder-no-clan.tpl
  deploy/templates/clan.tpl
  deploy/templates/mini-chat.section.tpl
  deploy/templates/ninjamaster.tpl
  deploy/www/css/style.css
Due: PHP test and build

Silence some static analysis,
  deploy/lib/data/Api.php
  deploy/www/js/homepage.js
Due: JS Tests, PHP test and build

Minor update to ensure queued_restart catches php 8.3.
  deploy/cron/queued_restart.sh
  deploy/resources.build.php
Due: PHP test and build

Framebreak refinement.
  deploy/templates/login.tpl
  deploy/templates/nodes.tpl
  deploy/www/js/login.js
  deploy/www/js/signup.js
Due: JS Tests, PHP test and build

Cypress fixes.
  cypress/e2e/login.cy.js
  cypress/e2e/map.cy.js
  deploy/www/js/login.js
  deploy/www/js/signup.js
Due: JS Tests, PHP test and build

Minor nm visual tweak.
  deploy/templates/ninjamaster.tpl
Due: PHP test and build

Document comment on the login.js
  deploy/www/js/login.js
Due: JS Tests, PHP test and build

Minor empty function comments.
  cypress/e2e/login.cy.js
  cypress/e2e/signup-newbie.cy.js
Due: none

Adding sentry for js.
  deploy/conf/nw.local.nginx
  deploy/templates/header.tpl
Due: PHP test and build

Fix up the clan chat messaging counter.
  deploy/lib/control/MessagesController.php
Due: PHP test and build

Signup email changes for now.
  deploy/lib/control/SignupController.php
  deploy/resources.build.php
Due: PHP test and build

Additional logging around signup and passwordreset.
  deploy/lib/control/PasswordController.php
  deploy/lib/control/SignupController.php
  deploy/templates/reset.password.request.tpl
Due: PHP test and build

Cleanup around password reset templates/areas.
  deploy/templates/assistance.tpl
  deploy/templates/email.password_reset_request.tpl
  deploy/templates/epics.tpl
  deploy/templates/reset.password.request.tpl
  deploy/templates/reset.password.tpl
Due: PHP test and build

More nm modification.
  deploy/templates/assistance.tpl
  deploy/templates/ninjamaster.tpl
Due: PHP test and build

Add password reset-resquest cypress test.
  cypress/e2e/reset-password-request.cy.js
Due: none

Update the cypress test for e2e password reset.
  cypress/e2e/reset-password-request.cy.js
  deploy/templates/reset.password.request.tpl
Due: PHP test and build

Add additional admin setting.
  deploy/lib/data/Player.php
Due: PHP test and build

Display account types.
  deploy/lib/control/NinjamasterController.php
  deploy/templates/ninjamaster.tpl
Due: PHP test and build

Revert "Add additional mod account via hack."
  deploy/lib/data/Player.php
Due: PHP test and build

Spacing for logout page relogin link.
  deploy/templates/logout.tpl
Due: PHP test and build

Revert "Revert "Add additional mod account via hack.""
  deploy/lib/data/Player.php
Due: PHP test and build

Work on the post-deploy email and makefile command.
  Makefile
  deploy/deployed_scripts/deployment_email.php
  deploy/lib/extensions/Nmail.class.php
  deploy/templates/ninjamaster.tpl
Due: PHP test and build

Add additional last-login deactivation info.
  deploy/lib/data/AdminViews.php
  deploy/lib/data/Api.php
  deploy/lib/data/Player.php
  deploy/templates/ninjamaster.tpl
  deploy/www/js/ninjamaster.js
  deploy/www/js/nw.js
Due: JS Tests, PHP test and build

Modifications to queued restart to leave a file.
  CODEOWNERS
  deploy/cron/queued_restart.sh
Due: PHP test and build

Public page a11y and cypress checks,
  cypress/e2e/public-pages.cy.js
  deploy/templates/intro.tpl
  deploy/templates/news.tpl
  deploy/templates/rules.tpl
  deploy/templates/village.tpl
  deploy/www/js/clan.js
  deploy/www/js/fight.js
  deploy/www/js/login.js
  deploy/www/js/talk.js
Due: JS Tests, PHP test and build

Easier deployment email linkthrough to deploybot.
  deploy/deployed_scripts/deployment_email.php
Due: PHP test and build

Update the password reset to have a login/continue
  Makefile
  deploy/lib/control/PasswordController.php
  deploy/templates/epics.tpl
  deploy/templates/ninjamaster.tpl
  deploy/templates/reset.password.request.tpl
Due: PHP test and build

Fixes to intro.
  deploy/templates/intro.tpl
Due: PHP test and build

Update the new signups time limit.
  deploy/lib/control/NinjamasterController.php
  deploy/lib/data/AdminViews.php
Due: PHP test and build

Create FUNDING.yml
  .github/FUNDING.yml
Due: none

Lazy load npc.list.tpl images
  deploy/templates/npc.list.tpl
Due: PHP test and build

Update email.password_reset_request.tpl
  deploy/templates/email.password_reset_request.tpl
Due: PHP test and build

Add alias in the makefile for request restart
  Makefile
Due: none

Make pre text readable.
  deploy/templates/ninjamaster.css.tpl
  deploy/templates/ninjamaster.tpl
Due: PHP test and build

Fix for catchphrases.size() that no longer exists.
  deploy/www/js/nw.js
Due: JS Tests, PHP test and build

Path conditions:
  JS Tests: any of: deploy/www/js/
  PHP test and build: any of: deploy
