Repository BitLucid/ninjawars: changes, and which Semaphore blocks are due for each by the changed paths.
All: JS Tests, PHP test and build

.semaphore/semaphore.yml:

version: v1.0
name: Run All Parts
agent:
  machine:
    type: e1-standard-2
    os_image: ubuntu2004
blocks:
  - name: Setup
    task:
      jobs:
        - name: Install and Cache
          commands:
            - '# php version set in the prologue step'
            - '# Get the resources.php file'
            - 'make preconfig '
            - yarn install --immutable
            - make build
            - cache store
      prologue:
        commands:
          - checkout
          - cache restore
          - sem-version php 8.2.2
          - nvm install --lts
          - sem-version node --lts
          - corepack enable
          - ./composer.phar config -g github-oauth.github.com $GITHUB_ACCESS_TOKEN
      secrets:
        - name: Tchalvak Github Ratelimit Avoidance Token Readonly
    dependencies: []
  - name: JS Tests
    task:
      jobs:
        - name: test after build
          commands:
            - '# Setup steps in the prologue'
            - yarn test
      prologue:
        commands:
          - checkout
          - cache restore
          - sem-version php 8.2.2
          - nvm install --lts
          - sem-version node --lts
          - corepack enable
          - yarn install --immutable
          - make js-deps
          - make build
      secrets:
        - name: Tchalvak Github Ratelimit Avoidance Token Readonly
    dependencies:
      - Setup
    run:
      when: change_in('/deploy/www/js/')
  - name: PHP test and build
    dependencies:
      - Setup
    task:
      secrets:
        - name: Tchalvak AWS
        - name: Tchalvak Github Ratelimit Avoidance Token Readonly
        - name: Tchalvak Github Token
      env_vars:
        - name: AWS_PROFILE
          value: tchalvak
      jobs:
        - name: PHP unit-tests
          commands:
            - echo "install happens in the prologue step"
            - php --version
            - make build
            - ./composer.phar unit-test
      prologue:
        commands:
          - checkout
          - cache restore
          - cp -upn ./deploy/resources.build.php ./deploy/resources.php
          - sem-version php 8.2.2
          - ./composer.phar install --prefer-dist --no-interaction
    run:
      when: change_in('/deploy')

Update signup to show/hide proceed/signup button.
  cypress/e2e/signup.cy.js
  deploy/templates/signup.tpl
  deploy/www/js/signup.js
Due: JS Tests, PHP test and build

Update PR template ever so slightly.
  .github/pull_request_template.md
Due: none

Fix cypress test selectors in the signup suite.
  cypress/e2e/signup.cy.js
Due: none

Minor change to login / signup to be continue / new game.
  deploy/templates/splash.tpl
Due: PHP test and build

Revert "Feat/new game continue"
  .github/pull_request_template.md
  cypress/e2e/signup.cy.js
  deploy/templates/signup.tpl
  deploy/templates/splash.tpl
  deploy/www/js/signup.js
Due: JS Tests, PHP test and build

Revert "Revert "Feat/new game continue""
  .github/pull_request_template.md
  cypress/e2e/signup.cy.js
  deploy/templates/signup.tpl
  deploy/templates/splash.tpl
  deploy/www/js/signup.js
Due: JS Tests, PHP test and build

Artifact creation makefile commands.
  .gitignore
  Makefile
  artifacts-exclude-list.txt
Due: none

Allow for simpler deactivation in ninjamaster.
  deploy/lib/control/NinjamasterController.php
  deploy/templates/ninjamaster.tpl
  deploy/www/js/ninjamaster.js
Due: JS Tests, PHP test and build

Batch deac clicking.
  deploy/lib/control/NinjamasterController.php
  deploy/templates/ninjamaster.tpl
  deploy/www/js/ninjamaster.js
Due: JS Tests, PHP test and build

Signup testing additions and test harness alternations.
  deploy/lib/data/Account.php
  deploy/lib/data/Player.php
  deploy/lib/events/PutEvent.php
  deploy/sql/migrations/2023-12-01-make_player_created_date_not_allow_null.sql
  deploy/tests/TestAccountCreateAndDestroy.php
  deploy/tests/integration/controller/SignupControllerTest.php
Due: PHP test and build

Remove debug call.
  deploy/tests/integration/controller/SignupControllerTest.php
Due: PHP test and build

Test consistency cleanup work.
  deploy/lib/control/LoginController.php
  deploy/tests/TestAccountCreateAndDestroy.php
  deploy/tests/integration/AccountConfTest.php
  deploy/tests/integration/model/AccountTest.php
Due: PHP test and build

Move to ecmaVersion 2020 for eslint.
  .eslintrc.js
Due: none

Ninjamaster js uses optional chaining.
  deploy/www/js/ninjamaster.js
Due: JS Tests, PHP test and build

Some typing for player member variables.
  deploy/lib/data/Player.php
  deploy/lib/data/PlayerVO.php
  deploy/tests/TestAccountCreateAndDestroy.php
  deploy/tests/integration/AccountConfTest.php
  deploy/tests/integration/model/StatusTest.php
Due: PHP test and build

Type the player description.
  deploy/lib/data/PlayerVO.php
Due: PHP test and build

Updates to set confirmed on accounts in the right way.
  deploy/lib/data/Account.php
  deploy/tests/TestAccountCreateAndDestroy.php
  deploy/tests/integration/model/StatusTest.php
Due: PHP test and build

Update to the test account creation methodology.
  deploy/tests/TestAccountCreateAndDestroy.php
Due: PHP test and build

Fix likely tyop in statusTest.
  deploy/tests/integration/model/StatusTest.php
Due: PHP test and build

Try resurrecting after fighting in cypress.
  cypress/e2e/fight.cy.js
  cypress/support/commands.js
  deploy/lib/data/PlayerVO.php
Due: PHP test and build

Add filter_string_polyfill.
  deploy/lib/Filter.php
Due: PHP test and build

Add fight template visual epic.
  deploy/templates/epics.tpl
Due: PHP test and build

Additional filtering to filter toSimple.
  deploy/lib/Filter.php
Due: PHP test and build

Add FilterTest file.
  deploy/tests/unit/FilterTest.php
Due: PHP test and build

Retroactively apply the toSimple filter.
  deploy/lib/Filter.php
  deploy/tests/unit/environment_test.php
Due: PHP test and build

Fix up signup and defaults when creating.
  cypress/support/commands.js
  deploy/lib/control/LoginController.php
  deploy/lib/control/SignupController.php
  deploy/lib/data/Account.php
  deploy/lib/events/PutEvent.php
  deploy/tests/TestAccountCreateAndDestroy.php
  deploy/tests/integration/controller/SignupControllerTest.php
  deploy/tests/integration/model/AccountTest.php
Due: PHP test and build

Yarn and node version updates.
  .nvmrc
  .yarn/releases/yarn-3.7.0.cjs
  .yarn/releases/yarn-4.0.2.cjs
  .yarnrc.yml
  package.json
Due: none

Additional upgrade steps.
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/plugins/@yarnpkg/plugin-typescript.cjs
  .yarn/plugins/@yarnpkg/plugin-version.cjs
  .yarnrc.yml
  yarn.lock
Due: none

Minor typehint change for status test.
  deploy/tests/integration/model/StatusTest.php
Due: PHP test and build

Minor test tweaks and clarifications.
  deploy/tests/integration/AccountConfTest.php
  deploy/tests/integration/model/AccountTest.php
Due: PHP test and build

Add ads.txt file.
  .gitignore
  deploy/www/ads.txt
Due: PHP test and build

Redact html comment from main page.
  deploy/templates/header.tpl
Due: PHP test and build

Bump version number for html homepage display.
  deploy/lib/control/HomepageController.php
  deploy/templates/footer.tpl
Due: PHP test and build

Add newer google ads,
  deploy/templates/logout.tpl
  deploy/templates/map.tpl
  deploy/templates/shop.tpl
Due: PHP test and build

Update to allow additional adsense domain.
  deploy/conf/nw.local.nginx
Due: PHP test and build

Ninjamaster links and validation fixes.
  deploy/templates/casino.tpl
  deploy/templates/epics.tpl
  deploy/templates/footer.linkbar.tpl
  deploy/templates/intro.tpl
  deploy/templates/ninjamaster.css.tpl
  deploy/templates/ninjamaster.tpl
  deploy/templates/signup.tpl
  deploy/www/css/style.css
  package.json
Due: PHP test and build
