Repository BitLucid/ninjawars: changes, and which Semaphore blocks are due for each by the changed paths.
All: JS Tests, PHP test and build

JS Tests:
  jobs:
  - name: test after build
    commands:
    - '# Setup steps in the prologue'
    - yarn test
  prologue:
    commands:
    - checkout
    - cache restore
    - sem-version php 8.2.2
    - nvm install --lts
    - sem-version node --lts
    - corepack enable
    - yarn install --immutable
    - make js-deps
  ...

PHP test and build:
  secrets:
  - name: Tchalvak AWS
  - name: Tchalvak Github Ratelimit Avoidance Token Readonly
  - name: Tchalvak Github Token
  env_vars:
  - name: AWS_PROFILE
    value: tchalvak
  jobs:
  - name: PHP unit-tests
    commands:
    - echo "install happens in the prologue step"
    - php --version
    - make build
  ...

Minor chat cleanup.
  .eslintrc.js
  deploy/www/js/chat.js
Due: JS Tests, PHP test and build

Use wss protocol usually.
  deploy/www/js/chat.js
Due: JS Tests, PHP test and build

Ensure illuminate version, update chat port.
  Makefile
  composer.json
  composer.lock
  deploy/www/js/chat.js
Due: JS Tests, PHP test and build

Run configure before setting deps.
  .github/workflows/php.yml
Due: none

Provide token from environment speculatively.
  .github/workflows/php.yml
Due: none

Change around token location.
  .github/workflows/php.yml
Due: none

Force symlink if already present.
  .github/workflows/php.yml
Due: none

Update Semaphore configuration
  .semaphore/semaphore.yml
Due: none

Set detault to chat connection options.
  deploy/www/js/chat.js
Due: JS Tests, PHP test and build

Link vendor to fix missing autoload.
  .github/workflows/php.yml
  Makefile
  deploy/www/js/chat.js
Due: JS Tests, PHP test and build

Try copying the vendor files.
  Makefile
  deploy/tests/js/ChatSpec.js
  deploy/www/js/chat.js
Due: JS Tests, PHP test and build

Update link-vendor.
  Makefile
  deploy/vendor/.gitkeep
Due: PHP test and build

Change vendor linking mechanism.
  Makefile
Due: none

Move off of using message eloquent orm,
  deploy/lib/control/ClanController.php
  deploy/lib/data/Clan.php
  deploy/lib/data/Message.php
  deploy/tests/integration/controller/ClanControllerTest.php
Due: PHP test and build

Move away from using carbon for a single datetime usage.
  deploy/lib/data/PasswordResetRequest.php
  deploy/tests/integration/model/PasswordResetTest.php
Due: PHP test and build

Remove old ws chat system.
  .deepsource.toml
  bin/chat-server.php
  composer.json
  deploy/deployed_scripts/startchat.sh
  deploy/lib/control/ChatApp/Chat.php
Due: PHP test and build

Remove chatapp psr-4 from composer.json.
  composer.json
Due: none

Update composer for changes.
  composer.json
  composer.lock
Due: none

sync up semaphore php version.
  .semaphore/semaphore.yml
Due: none

Github action sync php version.
  .github/workflows/php.yml
Due: none

Rearrange otional parameter deprecation quirk.
  deploy/lib/data/Clan.php
Due: PHP test and build

Bump version.
  package.json
Due: none

Update github-action dep's version.
  .github/workflows/php.yml
Due: none

Bump version
  package.json
Due: none

php version file.
  .github/workflows/php.yml
  .phpver
  .yarn/versions/f61cadb7.yml
  Makefile
Due: none

Update how gitignore handles vendor.
  .gitignore
Due: none

Add initial/speculative tsconfig.
  tsconfig.json
Due: none

Release some more npc version2 items.
  deploy/npc-list.php
Due: PHP test and build

Make Geisha and monk have villager trait.
  deploy/npc-list.php
Due: PHP test and build

Use updated phpunit package.
  composer.json
  composer.lock
Due: none

Updates with opmitized autoload...
  composer.lock
Due: none

Try to initialize name as blank initially.
  composer.json
  deploy/tests/NWTest.php
Due: PHP test and build

composert and structure updates.
  Makefile
  composer.lock
  deploy/tests/NWTest.php
Due: PHP test and build

Improve vendor creation build process.
  Makefile
  deploy/templates/shrine.result-resurrect.tpl
  deploy/vendor/.gitkeep
Due: PHP test and build

Create structure in github action.
  .github/workflows/php.yml
Due: none

Path conditions:
  JS Tests: any of: deploy/www/js/
  PHP test and build: any of: deploy
